<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>


<div class="container">
  <div class="row">
    <h1 class="col-lg-12">Gestor de clientes</h1>
    <button on-click="obtenerClientes" type="button" name="button">Obtener clientes</button>
    <table hidden$={{noCargados}}>
      <tbody>
        <template is="dom-repeat" items="{{clientes}}">
          <tr>
            <td>
              [[item.CustomerID]]
            </td>
            <td>
              [[item.ContactName]]
            </td>
            <td>
              [[item.CompanyName]]
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

</div>
</template>

<script>
class GestorClientes extends Polymer.Element {


  static get is() { return 'gestor-clientes'; }

  static get properties() {
    return {

    clientes:{
      type: Array,
      notify: true
    },

    noCargados:{
      type: Boolean,
      value: true
    }

    };
  }

  obtenerClientes()
  {
    var request = new XMLHttpRequest();
    request.open("GET","http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
    request.setRequestHeader("Accept", "application/json");
    request.send();
    this.clientes = JSON.parse(request.responseText).value;
    console.log(this.clientes);
    this.noCargados = false;
  },

  anadirCliente()
  {
    var request = new XMLHttpRequest();
    request.open("POST","http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
    request.setRequestHeader("Accept", "application/json");
    request.setRequestHeader("Contest-Type", "application/json");
    var nuevoCliente = {"CustormerID":"9876", "ContactName":"JSB", "CompanyName":"JSBs Bar"};
    var body = JSON.stringify(nuevoCliente);
    request.send(body);
    this.respuesta = request.responseText;
    this.clientes = JSON.parse(request.responseText).value;
    console.log(this.clientes);
    this.noCargados = false;
  }

}
window.customElements.define(GestorClientes.is, GestorClientes);

</script>

</dom-module>
