<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="jonathan-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


<label for="">Login</label>
<input type="text" placeholder="Escriba aquí su usuario" name="txtUsuario" value="{{Usuario::input}}">

<label for="">Password</label>
<input type="password" placeholder="Escriba aquí su password" name="txtPassword" value="{{Password::input}}">

<button on-click="hacerLogin" type="button" class="btn btn-primary">Login</button>
<label for="">{{Mensaje::input}}</label>


</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class JonathanLogin extends Polymer.Element {


      static get is() { return 'jonathan-login'; }

      static get properties() {
        return {

          Usuario:{
            type: String,
            value: ''
          },

          Password:{
            type: String,
            value: ''
          },

          Mensaje:{
            type: String,
            value: ''
          }

        };
      }

      hacerLogin()
      {

        if (this.Usuario.length > 1)
        {
          this.Mensaje = "El login es correcto";
        }
          else
          {
            this.Mensaje = "El login NO correcto";
          }

        //this.prop2 = this.prop2 + 1;
      }

    }


    window.customElements.define(JonathanLogin.is, JonathanLogin);

  </script>

</dom-module>
