<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="jonathan-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" alt="" width="[[prop2]]" />
    <button on-click="incrementar" type="button" class="btn btn-primary">Cargar visor</button>
    <table id="tablaEjemploVisor" class="table table-striped">
                <thead class=thead-default>
                    <td>
                      Columna Visor 1
                    </td>
                    <td>
                      [[prop2]]
                    </td>
                    <td>
                      Columna Visor 3
                    </td>
                </thead>
    </table>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class JonathanVisor extends Polymer.Element {


      static get is() { return 'jonathan-visor'; }

      static get properties() {
        return {
          prop2:{
            type: Number,
            value: 300
          }
        };
      }

      incrementar()
      {
        this.prop2 = this.prop2 + 1;
      }

    }

    window.customElements.define(JonathanVisor.is, JonathanVisor);

  </script>

</dom-module>
